@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom scrollbar styles */
html::-webkit-scrollbar {
  border-radius: 0px;
  width: 8px;
}

html *::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0.15);
}

html *::-webkit-scrollbar-track {
  border-radius: 0;
  background-color: rgba(0, 0, 0, 0);
}

.bg-gradient-to-br {
  background: linear-gradient(to bottom right, #ffffff, #f7fafc);
}

.transition {
  transition: all 0.3s ease-in-out;
}

.hover\:scale-105:hover {
  transform: scale(1.05);
}


